//Variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$dark-color: #333;
$medium-color: #ccc;
$light-green: #ebf3f1;
$medium-green: #b4d9c6;
$strong-green: #42748a;
$light-blue: #c6def1;
$light-brown: #f5efe1;
$medium-brown: #b44a3d;
$strong-brown: #722015;
$medium-blue: #5885b5;
$gentle-brown: #967579;

$bg-img: url("../img/dsc_0581.jpg");

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
