@import "config";
@import "utilities";

@font-face {
  font-family: Dosis;
  src: url(/dist/fonts/Dosis-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#header {
  &-home {
    margin-bottom: 1rem;
    background: $bg-img no-repeat center right/ cover;
    height: 100vh;
    color: white;
    h3 {
      margin-top: 8px;
    }
    .header-content {
      text-align: center;
      padding-top: 20vh;
      h1 {
        font-size: 4rem;
        line-height: 1.2;
        span {
          font-size: 2rem;
        }
      }
      .lead {
        font-weight: 550;
      }
    }
  }
  //Header-content
  &-inner {
    background: $bg-img no-repeat 5% 28% / cover;
    color: white;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
    h3 {
      margin-top: 8px;
    }
  }
}

#logo {
  height: 70px;
  width: 70px;
  text-transform: uppercase;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}
/*
              ====
              HOME
              ====
*/
#home {
  &-a {
    background-color: $light-brown;
    position: relative;
    transition: ease-in-out 1s;
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      .fas {
        color: $medium-blue;
        padding-bottom: 0.4rem;
      }
    }
  }

  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;
        color: $strong-green;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-green;
        }
      }
    }
  }
  &-c {
    background-color: $light-brown;
    margin-bottom: 1rem;
    height: 330px;
    .process {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      // process-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        background-color: $dark-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        line-height: 15px;
        padding-top: 8px;
        transition: all 1s;
      }

      // process-icon
      &-icon {
        border-radius: 50%;
        background: $medium-blue;
        color: white;
        padding-top: 20%;
        width: 110px;
        height: 110px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 0.75s;
        margin-bottom: 1rem;

        &:hover {
          background: $dark-color;
          width: 120px;
          height: 120px;
          line-height: 90px;

          .process-step {
            background-color: $medium-blue;
            color: white;
          }
        }
      }
    }
  }
}

/*
              ====
              About
              ====
*/
#about {
  // About A
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        "bioimage bio bio"
        "aw1 aw2 aw3";
      grid-gap: 1.2rem;
    }

    // Grid Area
    .bio-image {
      grid-area: bioimage;
    }

    .bio {
      background: $light-brown;
      grid-area: bio;
      border-left: 3px solid $medium-green;
      padding: 0.8rem;
    }
    .award {
      &-1,
      &-2,
      &-3 {
        padding: 1rem;
      }
    }

    .award-1 {
      background-color: $medium-green;
      grid-area: aw1;
    }

    .award-2 {
      background-color: $light-color;
      grid-area: aw2;
    }

    .award-3 {
      background-color: $medium-green;
      grid-area: aw3;
      a {
        text-decoration: underline;
      }
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $medium-blue;
      margin: 1rem;
    }
  }
  // About B
  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    }
  }
  // About C
  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;

      img {
        width: 70%;
      }
    }
  }
}

// #header-inner {
// }

/*
      ======
      footer
      ======
*/

#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    .social .fab {
      margin-right: 0;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      line-height: 20px;
      text-align: center;
      padding-top: 3px;
      color: white;

      &:hover {
        background: $main-color;
        color: $dark-color;
      }
    }
  }
}
